<% if current_user_is_running?(@race) %>
  <%= link_to "You are running this race", "#", class: "btn btn-info" %>
<% else %>
  <%= button_to "Run this Race", race_users_path(race_id: @race.id), class: "btn btn-primary" %>
<% end %>
<h4><%= @race.name %></h4>
<p><%= @race.details %></p>
<p><%= @race.location %></p>
<p><%= @race.date %></p>

<% if @race.users.any? %>
  <h4>Runners</h4>
  <ul>
    <%= render partial: "race_users/user", collection: @race.users %>
  </ul>
<% end %>
