<ul class="nav">
  <li><%= link_to "All Races", races_path %></li>
  <li><%= link_to "My Races", my_races_path %></li>
  <li><%= link_to "Dashboard", admin_dashboard_path if current_user.is_admin? %></li>
</ul>
<ul class="nav pull-right">
  <ul class="nav">
    <li class="dropdown">
      <a href="#" class="dropdown-toggle" data-toggle="dropdown">
            <i class="icon-user icon"></i><b class="caret"></b>
      </a>
      <ul class="dropdown-menu">
        <li class="nav-header"><%= current_user.full_name %></li>
        <li><%= link_to "Settings", user_path(current_user) %></li>
        <li class="divider"></li>
        <li><%= link_to "Logout", logout_path %></li>
      </ul>
    </li>
  </ul>
</ul>